<form action="/landmarks/<%= @landmark.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

	<h1>Edit a Landmark: <%= @landmark.name %></h1>

	<label>Name</label> <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">

	<br><br>

	<label>Year Completed</label> <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">

	<br><br>

	<h2>Change or Keep Figure: <%= @landmark.name %></h2>

	<% @figure.each do |figure| %>
		<input type="radio" name="landmark[figure_id]" value="<%=figure.id%>" <%= 'checked' if @landmark.figure == figure %>> <%= figure.name %>
		<br>
	<% end %>

	<h3>Create New Figure:</h3>
  	Name: <input type="text" name="figure[name]">

  	<br>
  	<br>
  	<input type="submit" id="edit_landmark" value="Edit Landmark">


</form>
