<!DOCTYPE html>
<html>
  <head>
    <title>Edit Figure</title>
  </head>
  <body>
    <h1 style="text-decoration: underline;">Create a figure</h1>

    <form method=post action="/figures/<%= @figure.id %>">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <p><label style="font-weight: bold;">Name:</label>
      <input type="test" name="figure[name]" id="figure_name" value="<%= @figure.name %>"></p>

      <p><label style="font-weight: bold;">Titles:</label></p>
      <% Title.all.each do |title| %>
        <label for="<%=title.name%>"><%=title.name%></label>
        <input type="checkbox" name="figure[title_ids][]" id="<%=title.name%>" value="<%=title.id%>" <%= 'checked' if @figure.titles.include?(title)%>><br>
      <% end %>

      <label for="new_title">New: </label>
      <input type="text" name="title[name]" id="new_title">

      <p><label style="font-weight: bold;">Landmarks:</label></p>
      <% Landmark.all.each do |landmark| %>
        <label for="<%=landmark.name%>"><%=landmark.name%></label>
        <input type="checkbox" name="figure[landmark_ids][]" id="<%=landmark.name%>" value="<%=landmark.id%>" <%= 'checked' if @figure.landmarks.include?(landmark)%>><br>
      <% end %>

      <label for="new_landmark">New: </label>
      <input type="text" name="landmark[name]" id="new_landmark">

      <br></br>

      <input type="submit" id="submit" value="Edit Figure">
    </form>
  </body>
</html>
