
<form action="/figures/<%=@figure.id %>" method="POST">
  <input type="hidden" id='hidden' name="_method" value="patch">
  

  <p>FIGURE NAME <input type="text" name="figure[name]" id='figure_name' value='<%= @figure.name %>'></p>
  <p>TITLES</p>
  <% Title.all.each do |title| %>
    <ul>
      <%= title.name %> <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id='title_<%= title.id %>'  <%='checked' if @figure.titles.include?(title) %> >
    </ul>
  <% end %>
  <p>CREATE NEW TITLE: </p>
  <p><input type="text" name="title[name]" id='new_title' ></p>
  <p>LANDMARKS</p>
  <% Landmark.all.each do |landmark| %>
    <ul>
      <%= landmark.name %> <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id='landmark_<%= landmark.id %>' <%='checked' if @figure.landmarks.include?(landmark) %>>

    </ul>
  <% end %>



  <p>CREATE NEW LANDMARK: </p>
  <p>NAME: <input type="text" name="landmark[name]" id='new_landmark'>  </p>



  <input type="submit" value="Edit Figure">

</form>
