<!--
"the form for a new figure and the form to edit a figure should allow the user to select from existing landmarks and title and create new landmarks and titles to associate to the figure."
Your form for a new figure should dynamically generate checkboxes out of the available landmarks and titles. It should also have fields for creating a new landmark and/or a new title.
-->

<h1>Create a New Figure</h1>


<form action="/figures" method="POST">

	<label>Name</label> <input type="textbox" name="figure[name]" id="figure_name">

	<br>
	<br>

	<h2>Titles</h2>


	<% @titles.each do |title| %>
		<input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"> <%= title.name %>
		</input>

		<br>
	<% end %>

	<br>
	<br>

	<label>Create New Title:</label> <input type="textbox" name="title[name]" id="new_title">

	<br>
	<br>

	<h2>Landmarks</h2>

	<% @landmarks.each do |landmark| %>
		<input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"> <%= landmark.name %>
		</input>

		<br>
	<% end %>

	<br>
	<br>

	Create New Landmark:
	Name:  <input type="textbox" name="landmark[name]" id="new_landmark">
	<br>
	Year Completed: <input type="textbox" name="landmark[year_completed]" id="new_landmark_year">


	<br>
	<br>
	<input type="submit" id="new_figure" value="Create New Figure">



</form>
