<h1>New Figure</h1>
<form action="/figures" method="post">
  <p>Name: <input type="text" name="figure[name]"></p>

  <h3>Titles:</h3>
  <% @titles.each do |title| %>
  <p><input type="checkbox" name="figure[title_ids][]"
     value="<%= title.id %>" id="<%= title.id %>"><%=title.name%></input></p>
  <% end %>

  <p>New Title: <input type="text" name="title[name]"></p>

  <h3>Landmarks:</h3>
  <% @landmarks.each do |landmark| %>
    <p><input type="checkbox" name="figure[landmark_ids][]"
       value="<%= landmark.id %>" id="<%= landmark.id %>"><%=landmark.name%></input></p>
  <% end %>

  <h3>Create New Landmark</h3>

  <p>Name: <input type="text" name="landmark[name]"></p>
  <p>Year: <input type="text" name="landmark[year_completed]"></p>

  <input type="submit" value="Create New Figure">
</form>
