<h1>Create a New Figure</h1>

<form action="/figures/<%=@figure.id%>" method="post">
  <h3>Name:</h3>
  <p><input type="text" name="figure[name]" required></p>

  <br>

  <h3>Titles:</h3>
  <% Title.all.each do |title| %>
    <p><input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>"><%=  title.name %></p>
  <% end %>
  <br>

  <h3>Create New Title:</h3>
  <p><input type="text" name="title[name]"></p>

  <br>

  <h3>Landmarks:</h3>
  <% Landmark.all.each do |landmark| %>
    <p><input type="checkbox" name="figure[figure_ids][]" value="<%=landmark.id%>"><%= landmark.name %></p>
  <% end %>
  <br>

  <h3>Create New Landmark</h3>
  <p>Name: <input type="text" name="landmark[name]"></p>
  <p>Year: <input type="text" name="landmark[year_completed]"></p>

  <br>

  <p><input type="submit" value="Create New Figure"></p>
</form>
